<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Backlog</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="backlog_header">
            <h1>The Backlog</h1>
        </div>
        <div class="create_section">
            <div class="card_body">
                <div class="card_title">Nueva Entrada</div>
                <form action="/save" method="POST">
                    <div class="informacion_primaria">
                        <label for="titulo">Titulo</label>
                        <input type="text" class="text_primario" id="titulo" name="titulo" tabindex="1">
                        <label for="autor_nombre">Nombre del autor</label>
                        <input type="text" class="text_primario nombre" id="autor_nombre" name="autor_nombre"
                            tabindex="2">
                        <label for="autor_apellido">Apellido del autor</label>
                        <input type="text" class="text_primario apellido" id="autor_apellido" name="autor_apellido"
                            tabindex="3">
                    </div>
                    <div class="informacion_secundaria">
                        <label for="paginas">Numero de paginas</label>
                        <input type="text" class="text_secundario" id="paginas" name="paginas" tabindex="4">
                        <label for="fecha_publicacion">Publicacion original</label>
                        <input type="text" class="text_secundario" id="publicacion" name="publicacion" tabindex="5">
                        <label for="editorial">Editorial</label>
                        <input type="text" class="text_secundario" id="editorial" name="editorial" tabindex="6">
                    </div>
                    <div class="create_botones">
                        <button type="submit" class="btn_guardar" tabindex="7">Guardar</button>
                        <button class="btn_cancelar">
                            <a href="/">Cancelar</a>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="user_info">
            <div>
                <h4>user ID</h4>
                <h4>user IP</h4>
            </div>
        </div>
    </div>
</body>

</html>